<h1>Listing panel_categories</h1>
<%= link_to 'New Category', new_panel_category_path, :class=>'btn' %>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Edit', edit_panel_category_path(category) %></td>
    <td><%= link_to 'Destroy', [:panel, category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>