// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
	h4{
		a {
			color: #4b5698;
		}
	}
	.bar {
		.tags {
			float: left;
			span {
				color: green;
			}
		}
		.right {
			float: right;
		}
	}
}