body {
  background: #EEE url('/assets/bg.jpg') bottom left repeat;
  font-size: 12px;
  font-family: "Monaco","Microsoft YaHei", "SimSun", "SimHei";
}

.navbar {
	.login_block {
		float: right;
		line-height: 35px;
		a {
			color: #1b1b1b;
		}	
	}
}

#main_container {
	background: white;
	margin-top: 50px;
	padding: 0 20px;
	min-height: 500px;
}

.block {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: 5px 15px;
	margin: 10px 0;
}