<% if flash.present? && (flash[:notice].present? || flash[:alert].present?) %>
	<div class="row">
		<div class="span12">
			<div class="alert alert-error"><%= notice || alert %></div>
		</div>
	</div>
<% end %>