<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
	    <a class="brand" href="/">Richfisher.Me</a>
	    <ul class="nav">
	      <li><%= link_to 'Articles', articles_path %></li>
	      <li><%= link_to 'Works', works_path %></li>
	      <li><a href="https://github.com/richfisher">Github</a></li>
	    </ul>
	    <span class="login_block"><%= link_to 'login', login_path %></span>
  	</div>
  </div>
</div>