<div class="block">
	<h5>Catogories</h5>
	<ul>
		<% for category in Category.all %>
			<li><%= link_to "#{category.name} (#{category.articles.size})", category_path(category) %></li>
		<% end %>
	</ul>
</div>
<div class="block">
	<h5>Tags</h5>
	<% get_tags.each_with_index do |pair,index| %>
		<%= render_tag_link pair,index %>
	<% end %>
</div>		